catkin==0.6.18
decorator==4.0.10
entrypoints==0.2.2
gencpp==0.5.5
genlisp==0.4.15
genmsg==0.5.7
genpy==0.5.10
ipykernel==4.4.1
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.1.1
MarkupSafe==0.23
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
notebook==4.2.2
numpy==1.11.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.7
ptyprocess==0.5.1
Pygments==2.1.3
python-qt-binding==0.2.19
pyzmq==15.4.0
qt-gui==0.2.30
qt-gui-py-common==0.2.30
qtconsole==4.2.1
rocon-console==0.1.23
rocon-qt-library==0.7.12
rosgraph==1.11.20
roslib==1.11.13
rospy==1.11.20
rospy-message-converter==0.4.0
rqt-gui==0.2.14
rqt-gui-py==0.2.14
scipy==0.18.0
simplegeneric==0.8.1
six==1.10.0
terminado==0.6
tornado==4.4.1
traitlets==4.2.2
wcwidth==0.1.7
widgetsnbextension==1.2.6
world-canvas-client-py==0.1.0
